<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Oswald:200,400" rel="stylesheet" />
    {{#each stylesheet}}
        <link rel={{this.rel}} href={{this.href}}>
    {{/each}}
    {{#if customCss}}<link rel="stylesheet" href={{{customCss}}} />{{/if}}
</head>

<body>
    {{{body}}}

    {{!-- SCRIPT --}}
    {{#each script}}
        <script src={{this.src}} {{#if this.integrity}}integrity={{this.integrity}}{{/if}} {{#if this.crossorigin}}crossorigin={{this.crossorigin}}{{/if}}></script>
    {{/each}}
</body>

</html>